* { 
    font-family: 'Merriweather', arial, serif; 
   
}

body {
    background-color: #F2F1E8;
    margin: 0;
    margin-top: 110px;
    padding: 0;
}

#logo {
    float: left;
    width: 45px;
    height: 45px;
    
}

nav {
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    height: 58px;
    width: 1039px;
    position: fixed;
    top: 0;
    
}

#header_list {
    list-style-type: none;
    margin: 0;
    margin-right: 8px;
    padding: 5px;
    text-align: center;
    
}

li {
    display:inline;
    text-align: center;
    
}

li a {
display: inline-block;
color: #2B2F26;
text-align: center;
padding: 14px 16px;

}

li a.active1 {
    background-color: #968772;

}

li a.active2 {
    background-color: #968772;
   
}

li a.active3 {
    background-color: #968772;
    
}

li a:hover:not(.active1) {
    background-color: #CD5D67;
   
}

li a:hover:not(.active2) {
    background-color: #CD5D67
        
}

li a:hover:not(.active3) {
    background-color: #CD5D67
        
}

h1 {
    text-align: center;
    
}

.flex_for_newsletter {
    display: flex;
    flex-flow: wrap row;
    
}

#img1 {
    max-height: 250px;
    max-width: 50%;
    object-fit: cover;
    overflow: hidden;
    padding: 6px;
  
}

#img2 {
    max-height: 250px;
    max-width: 25%;
    object-fit: cover;
    overflow: hidden;
    padding: 6px;
    
}

#img3 {
    max-height: 250px;
    max-width: 25%;
    object-fit: cover;
    overflow: hidden;
    padding: 6px;
  
}

#img4 {
    max-height: 150px;
    max-width: 20%;
    object-fit: cover;
    overflow: hidden;
    padding: 6px;
  
}

#img5 {
    max-height: 150px;
    max-width: 20%;
    object-fit: cover;
    overflow: hidden;
    padding: 6px;
  
}

#img6 {
    max-height: 150px;
    max-width: 40%;
    object-fit: cover;
    overflow: hidden;
    padding: 6px;
  
}

#img7 {
    max-height: 150px;
    max-width: 20%;
    object-fit: cover;
    overflow: hidden;
    padding: 6px;
  
}
h6 {
    position: absolute;
    color: #968772;
    top: 420px; 
    left: 15px; 
    width: 100%; 
    color: #968772;
}

#box2{
    position: absolute;
    top: 420px; 
    left: 300px; 
    width: 100%
    
}
span {
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
    
}

#side {
    max-height: 104px;
    max-width: 20%;
    
}

#room {
    color: white;
    position:absolute;
    top: 760px;
    left: 320px;
    justify-content: flex-end;
}

#art {
    text-align: center;
    font-weight: 100;
    
}

.table_margin {
    margin-left: 40px;
}

.aside {
    display:flex;
    flex-flow: row-reverse;
}

table, tr, td {
    border-collapse: collapse;
    border: 1px solid black;
    margin-bottom: 40px;
}

td {
    padding: 8px;
}

footer {
        background-color: #968772;
        position: fixed;
        right: 0;
        bottom: 0;
        margin-bottom: 0;
        left: 0;
        text-align: left;
}

#background {
    background-size: cover;
    max-height: 100%;
    max-width: 100%;

}

.flex_attempt {
    display: flex;
    flex-flow: column wrap;
    margin-left: 40px;
}

#bird {
    max-height: 20%;
    max-width: 20%;
    
}

.background_words {
    max-width: 100%;
}

#cactus {
    max-width: 733px;
    max-height: 200px;
    overflow: hidden;
    
}


/* Thanks Colin for the help! */
#newsletter_form {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.form_box {
    position: absolute;
    background-color: #F2F1E8;
    margin-top: 200px;
    width: 60vw;
    height: 60vh;
    transition-delay: .15s;
    overflow: scroll;
}

.form_box h1,
.form_box h2 {
    position: relative;
    margin: 30px 10px;
    text-align: center;
}

.form {
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
}

.line_one,
.line_two {
    border-bottom: 1px solid #968772;
    border-bottom-width: medium;
    font-size: 3vh;
    margin-top: 8vh;
    padding-bottom: 1vh;
}

.line_one input,
.line_two input {
    font-size: 3vh;
    padding-left: 2%;
    width: 75%;
    outline: none;
    border: none;
    background-color: transparent;
    overflow: auto;
} 

.submit {
    position: relative;
    text-align: center;
    bottom: -10vh;
    margin-bottom: 10%;
}
