* { 
    font-family: 'Merriweather', arial, serif; 
   
}

body {
    background-color: #F2F1E8;
    margin: 0;
    margin-top: 110px;
    padding: 0;
}

#logo {
    float: left;
    width: 45px;
    height: 45px;
    
}

nav {
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    height: 58px;
    width: 1039px;
    position: fixed;
    top: 0;
    
    
}

#header_list {
    list-style-type: none;
    margin: 0;
    margin-right: 8px;
    padding: 5px;
    text-align: center;
    
}




li {
    display:inline;
    text-align: center;
    
}

li a {
display: inline-block;
color: #2B2F26;
text-align: center;
padding: 14px 16px;

}

li a.active1 {
    background-color: #968772;

    
}

li a.active2 {
    background-color: #968772;
   
    
}

li a.active3 {
    background-color: #968772;
    
    
}

li a:hover:not(.active1) {
    background-color: #CD5D67;
   
}

li a:hover:not(.active2) {
    background-color: #CD5D67
        
}

li a:hover:not(.active3) {
    background-color: #CD5D67
        
}

h1 {
    text-align: center;
    
}

.flex_for_newsletter {
    display: flex;
    flex-flow: wrap row;
    
    
}

#img1 {
    max-height: 250px;
    max-width: 50%;
    object-fit: cover;
    overflow: hidden;
    padding: 6px;
  
}

#img2 {
    max-height: 250px;
    max-width: 25%;
    object-fit: cover;
    overflow: hidden;
    padding: 6px;
    
}

#img3 {
    max-height: 250px;
    max-width: 25%;
    object-fit: cover;
    overflow: hidden;
    padding: 6px;
  
}

#img4 {
    max-height: 150px;
    max-width: 20%;
    object-fit: cover;
    overflow: hidden;
    padding: 6px;
  
}

#img5 {
    max-height: 150px;
    max-width: 20%;
    object-fit: cover;
    overflow: hidden;
    padding: 6px;
  
}

#img6 {
    max-height: 150px;
    max-width: 40%;
    object-fit: cover;
    overflow: hidden;
    padding: 6px;
  
}

#img7 {
    max-height: 150px;
    max-width: 20%;
    object-fit: cover;
    overflow: hidden;
    padding: 6px;
  
}
h6 {
    position: absolute;
}
span {
    color: #131511;
}

#art {
    text-align: center;
    font-weight: 100;
    
}

footer {
        background-color: #968772;
        
}