* { 
    font-family: 'Merriweather', arial, serif; 
   
}

body {
    background-color: #F2F1E8;
    margin: 0;
    padding: 0;
}

#logo {
    float: left;
    width: 4%;
    height: 4%;
    
    
}

nav {
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    
    
}

#header_list {
    list-style-type: none;
    margin: 0;
    margin-right: 8px;
    padding: 5px;
    text-align: center;
}




li {
    display:inline;
    text-align: center;
    
}

li a {
display: inline-block;
color: #2B2F26;
text-align: center;
padding: 14px 16px;

}

li a.active1 {
    background-color: #968772;

    
}

li a.active2 {
    background-color: #968772;
   
    
}

li a.active3 {
    background-color: #968772;
    
    
}

li a:hover:not(.active1) {
    background-color: #CD5D67;
   
}

li a:hover:not(.active2) {
    background-color: #CD5D67
        
}

li a:hover:not(.active3) {
    background-color: #CD5D67
        
}
